{#
    This template may be modified to customize the content of emails sent to confirm that 
    commenters want to subscribe to comments. Uses the Nunjucks templating language. More info -
    https://mozilla.github.io/nunjucks/
#}
